.clm1{
    padding-top: 100px;
    background-color: rgb(6, 102, 3);
}
.clm2{
    
    background-color: rgb(83, 238, 69);
}
.subclm{
    margin-top: 75px;
    background-color:rgb(6, 102, 3); 
    padding-bottom: 400px;
}