.container1{
    border-width: 3px;
    border-color: black;
    border-style: solid;
}


body{
    background-color: rgb(255, 165, 48);
}
.col1{
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
 img{
    max-width: 100%;
} 
.head1{
    color: black;
} 