.clm1{
    
    background-color: rgba(175, 181, 181, 0.888);
    margin-bottom: 400px;
}
.container{
    margin-top: 20px;
    padding-left: 250px;
    padding-right: 250px;

}
.clm12{
    background-color:rgba(175, 181, 181, 0.888) ;
    padding-bottom: 175px;
    
}
.clm2{
    padding-bottom: 400px;
}
.clm3{
    background-color:rgba(175, 181, 181, 0.888) ;
    padding-top:80px ;
    padding-bottom: 80px;
}
.head1{
    padding-top: 175px;
}
