.clm1{
    border-width: 10px;
    border-style: solid;
    border-color: black;
}
.clm2{
    background-color: rgb(38, 238, 115);

}
.clm3{
    background-color: rgb(38, 238, 115);
    
}
.hd1{
    padding-top: 100px;
    padding-bottom: 100px;
}
.clm4{
    background-color: rgb(38, 238, 115);
}
.clm5{
    background-color: rgb(38, 238, 115);
}
.clm6{
    background-color: rgb(38, 238, 115);
}
.hd2{
    padding-top:100px;
    padding-bottom:100px;
}
.hd3{
    padding-top: 175px;
   
}
