.clm1{
    background-color: rgb(139, 84, 88);
}
.clm2{
    background-color:  rgb(216, 186, 188);
}
.clm3{
    background-color:  rgb(216, 186, 188);
    
}
.clm4{
    background-color:  rgb(216, 186, 188);
    padding-top: 200px;
}